*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    outline: none;
    
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 369px;
    align-items: center;
    height: 250px;
    width: 300px;
    padding-top: 110px;
    margin: 0 40px;

}
.loginErro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 369px;
    align-items: center;
    height: 250px;
    padding-top: 110px;
    margin: 0 40px;
    animation-name: erro;
    animation-duration: 0.4s;
}
.inputLogin{
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    height: 35px;
    width: 100%; 
    border: none;
}

.button{
    height: 35px;
    width: 60%;
    background-color: #D0021B;
    color: #C9AE14;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover{
    background-color: tomato;
    cursor: pointer;
    transition: 0.5s;
}
